.btn {
  margin: 0 1.22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: .14rem solid #f2f2f2;
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
  mix-blend-mode: difference;

  &:hover {
    background-color: #f2f2f2;
    transform: scale(1.4);
  }

  svg {
    width: 3rem;
    height: 3rem;
    color: #f2f2f2;
    transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
      color: #1d1d1d;
    }
  }
}