$GeneralSansSemibold: 'GeneralSans-Semibold', sans-serif;
$GeneralSansMedium: 'GeneralSans-Medium', sans-serif;
$GeneralSansRegular: 'GeneralSans-Regular', sans-serif;
$BebasNeue: 'Bebas-Neue', cursive;

$small-size: 0.75rem;
$normal-size: 0.975rem;
$large-size: 2rem;
$larger-size: 4rem;

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
