@use '../../styles' as *;

.btn {
  padding: 8px 20px;
  text-transform: uppercase;
  font-family: $GeneralSansMedium;
  font-size: $normal-size;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: black;
}

.btnActive {
  background-color: #6C63FF;
  color: white;
}