.test {
  font-family: 'GeneralSans-Semibold';
  background-color: red;
}
.test2 {
  font-family: 'GeneralSans-Medium';
  background-color: green;
}
.test3 {
  font-family: 'GeneralSans-Regular';
  background-color: blue;
  color: white;
}