@import '../../styles/index.scss';

.wrapper {
  overflow: auto;
  margin-bottom: 40px;
}

.navWrapper {
  margin: 2rem 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  user-select: none;

  & .navRow {
    padding: 0.6rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .navRight {
      display: flex;
      align-items: center;
      justify-content: center;

      & .navIcon {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }

      & .navLine {
        margin: 0 1rem;
        width: 3px;
        height: 25px;
        border-radius: 3px;
        background: $black;
      }

      & .navSubtitle {
        color: $black;
        font-family: 'GeneralSans-Regular';
        font-size: 1.1rem;
        text-decoration: none;
        border-bottom: 2px solid $black;
        cursor: pointer;
      }
    }

    & .navLeft {
      font-size: 2rem;
      font-family: 'GeneralSans-Medium';
    }

    & .navLeftRow {
      padding: 1rem 0 0;
      display: flex;
      flex-direction: row;

      & .navMenu {
        width: auto;
        padding: 0.4rem 1rem;
        font-size: 1rem;
        font-family: 'GeneralSans-Regular';
        text-align: center;
        margin-right: 1.4rem;
        color: $black;
        border-radius: 1rem;
        border: 1.5px solid $purple;
        cursor: pointer;
      }

      & .navActive {
        background-color: $purple;
        color: $white;
      }
    }
  }
}
