.navWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100px;
  user-select: none;
}
.navRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.navRight {
  padding-right: 10px;
}
.navLeft {
  padding-left: 20px;
  font-size: 2rem;
  font-family: 'GeneralSans-Medium';
}
.navLeftRow {
  padding-left: 18px;
  display: flex;
  flex-direction: row;
}
.navIcon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.navMenu {
  width: auto;
  padding: 5px 15px;
  font-size: 1rem;
  font-family: 'GeneralSans-Regular';
  text-align: center;
  margin-right: 10px;
  color: black;
  border-radius: 15px;
  border: 1px solid #6c63ff;
  cursor: pointer;
}
.navActive {
  background-color: #6c63ff;
  color: white;
}
.navSubtitle {
  font-family: 'GeneralSans-Regular';
  font-size: 1rem;
  text-decoration: underline;
  padding-right: 10px;
  cursor: pointer;
}
