@use '../../styles' as *;

.wrapperFilms {
  display: flex;
  flex-direction: column;
}
.rowFilms {
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0px 10px 0px;
  }
}
.column {
  display: flex;
  //combobox
  & > div:nth-child(1) {
    margin-right: 20px;
    & > div {
      label {
        color: $black;
      }
      & > div {
        height: 45px !important;
        & > input {
          margin-top: -5px;
        }
        & > fieldset {
          border: 2px solid $black;
        }
        & > div > button {
          svg {
            color: $black;
          }
        }
      }
    }
  }
  //datapicker
  & > div:nth-child(2) {
    & label {
      color: $black;
    }
    & > div {
      & > fieldset {
        border: 2px solid $black;
      }
      & > div > button {
        svg {
          color: $black;
        }
      }
    }
  }
}

.searchInputWrapper {
  margin-top: 200px;
}
button:first-child {
  padding-left: 0px;
}
.showMore,
.noMore {
  font-family: $GeneralSansSemibold;
  color: $black;
  font-size: 1rem;
  border: 3px solid $purple;
  border-radius: 40px;
  width: auto;
  padding: 10px 10px;
  margin-bottom: 30px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease-out;
}
.showMore:hover {
  font-size: 1.5rem;
  background-color: $purple;
  color: $white;
  transition: 0.5s ease-in-out;
}
.noMore {
  border: 3px solid rgb(226, 0, 0) !important;
}
.noMore:hover {
  font-size: 1.5rem;
  background-color: rgb(226, 0, 0);
  color: $white;
  animation-duration: 0.5s;
  animation-iteration-count: unset;
  animation-name: shake;
}
.popup {
  display: flex;
  justify-content: center;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
