.wrapperFilms {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.rowFilms {
  & > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 0px;
  }
  
  & > div:last-child {
    margin: 30px 0;
  }
}

.searchInputWrapper {
  margin-top: 200px;
}
button:first-child{
  padding-left:0px;
}