@use '../../styles' as *;

.wrapperFilms {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.rowFilms {
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0px 10px 0px;
  }
}
.column{
  display: flex;
  //combobox
  & > div:nth-child(1){
    margin-right: 20px;
    & > div {
      label{
        color: $black;
      }
      & > div{
        height:45px !important;
        & > input{
          margin-top: -5px;
        }
        & > fieldset{
          border: 2px solid $black;
        }
        & > div > button {
          svg{
            color: $black;
          }
        }
      }
    }
  }
  //datapicker
  & > div:nth-child(2){
    & label{
      color: $black;
    }
    & > div {
      & > fieldset{
        border: 2px solid $black;
      }
    }
  }
}

.searchInputWrapper {
  margin-top: 200px;
}
button:first-child{
  padding-left:0px;
}