.movie p {
  font-family: 'GeneralSans-Medium';
  font-size: 1.5rem;
}

.movie {
  display: flex;
  align-items: center;
  gap: 20px;
}

.movie div:nth-child(3) {
  margin-left: auto;
}

.movie p:first-child {
  text-transform: uppercase;
}
.movie p:last-child,
.movie p:last-child {
  font-size: 1rem;
}

.movie svg {
  font-size: 2.5rem;
}
