.footer{
  background-color: #1d1d1d;
  color: #f2f2f2;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'GeneralSans-Regular';
}
.left {
  padding: 5px 20px;
}
.right {
  padding: 5px 20px;
  text-decoration: underline;
}
