@import '../../styles/index.scss';

.footer{
  background-color: $black;
  color: $white;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05rem;
  line-height: calc(1.05rem * 1.5);
  letter-spacing: 0.02rem;
  font-family: 'GeneralSans-Regular';

  & .left {
    padding: .5rem 2rem;
  }
  
  & .right {
    padding: .5rem 2rem;
    text-decoration: underline;
    cursor: pointer;
  }
  
}