@use '../../styles' as *;

.wrapper {
  font-family: $GeneralSansMedium;
  h1 {
    margin: 50px 0;
  }
}

.promWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px 250px;
  gap: 30px;
  margin-bottom: 100px;

  img {
    display: block;
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;
  }

  figure:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  figcaption {
    p:first-child {
      padding: 15px 0 10px;
    }

    p:last-child {
      color: $purple;
      font-size: 0.9rem;
    }
  }
}
