html,
body {
  -webkit-background-color: map-get($colors, dark);
  background-color: map-get($colors, dark);
  color: map-get($colors, light);
}

.container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

h1 {
  font-size: 2.5rem;
  font-family: $BebasNeue;
  text-transform: uppercase;
}
